*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a, href{
    text-decoration: none;
}

a:hover{
    color: red;
    text-decoration: none;
}

span{
    font-size: 12px;
    color: #000000;
    font-weight: bold;
}

span:hover{
    color: #555;
}

header{
    display: flex;
    justify-content: center;
    height: 120px;
}

nav ul{
    display: flex;
}

nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    font-family: Arial, Helvetica, sans-serif;
}

nav .active,
nav a:hover{
    background-color: #39aae1;
}

nav ul, 
nav li{
    list-style:none;
    margin: 0px;
    padding:0px;
}

article{
    flex: 1;
    min-width: 300px;
    padding: 10px;
}

article .news_data{
    display: flex;
}

article .news_posted_at{
    font-size: 12px;
    color: white;
    background-color: #2b4c99;
    padding: 10px;
    margin-right: 2px;
}

article .news_comments{
    font-size: 12px;
    color: white;
    background-color: #39aae1;
    padding: 10px;
}

article .news_thumbnail{
    margin-top: 30px;
}

article .news_thumbnail img{
    width: 100%;
    height: auto;
}

article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    font-size: 23px;
}

article .news_resume{
    color: #5c5c5c;
    line-height: 20px;
    font-size: 14px;
}

footer{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;

}

.footer_menu{
    display: flex;

}

.fm_1,
.fm_2,
.fm_3{
    flex:1;
    color: white;
    padding: 20px;
}

.fm_1{
    background-color: #39aae1;
}

.fm_2{
    background-color: #0079c7;
}

.fm_3{
    background-color: #2b4c99;
}

.flexcolumn{
    flex-direction:column ;
}

.footer_area{
    display: flex;
}

.footer_area_item{
    flex: 1;
    color: white;
    padding: 10px;
}

.footer_area_item p{
    font-size: 15px;
    color: grey;
}

footer .widget_title_text{
    color: white;
}

.medicenter_text{
    display: flex;
    justify-content: flex-start;
    margin-right: 40px;
    font-size: 14px;
    color: grey;
}

.medicenter_number{
    color: grey;
    display: flex;
    font-size: 14px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.medicenter_number a:hover{
    color: red;
}

.medicenter_icons{
    margin-top: 20px;
}

.medicenter_icons img{
    max-width: 30px;
    margin: 2px;
}

.medicenter_flex{
    display: flex;
}

.widget_body p{
    font-size: 14px;
    color: grey;
}
.footer_post{
    color: grey;
    font-size: 14px;
    margin:0px 5px;
    border-bottom: 1px solid grey;
}

.description{
    color: #5c5c5c;
}

.twitterlast{
    display: flex;
    justify-content: flex-end;
}

.footer_postime{
    font-size: 11px;
    color: #0079c7;
    margin:10px 0px;
}

.footer_postime:hover{
    color: red
}

.footer_copy{
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
    align-items: center;
    flex-wrap: wrap;
}

#banner{
    background-image:url(img1.jpg);
    background-position:center;
    background-size:cover;
    height:670px;
    display: flex;
    justify-content: center;

}

.column{
    flex-direction: column;
}

.banner_options{
    height: 210px;
    display: flex;
}

.banner_headline{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1{
    color: white;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555;
    margin: 0px;
    padding: 0px;
    width: 300px;
}

.banner_headline h2{
    color: white;
    font-size:21px;
    text-shadow: 0px 1px 0px #555;
    margin:0px;
    padding:0px;
   max-width:350px;
    margin-top:30px;
}

.banner1,
.banner2,
.banner3{
    flex:1;
    color: white;
    padding:20px;
}

.banner1{
    background-color: #39aae1;
}

.banner2{
    background-color: #0079c7;
}

.banner3{
    background-color: #2b4c99;
}

.banner_title{
    font-size: 21px;

}

.banner_description{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a{
    display: inline-block;
    border:1px solid #ffffff;
    padding:5px;
    color: white;
    font-size: 13px;
    text-decoration: none;
}

.hours{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid rgb(255,255,255,0.1);
}

.list{
    margin-top: 20px;
}

.container{
    display: flex;
    justify-content: space-between;
    width:990px;
}

.logo{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}

#all{
    display: flex;
    justify-content: center;
}

#all section{
    flex: 2;
}

#all aside{
    flex: 1;
}

.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text{
    color: #000000;
    font-size: 21px;
    font-weight: bold ;
}

.widget_title_bar{
    width:50px;
    height: 3px;
    background-color:#36a9e1;
    margin-top: 2px;
}

.widget_body{
    margin: 0;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.squares{
    background-color: #39aae1;
    width: 150px;
    height: 150px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.area_squares{
    display: flex;
    flex-direction: row;
    margin: 2px;

}
.widget_body_contact{
    border-top: 1px solid #7d7d7d;
    border-bottom: 1px solid #7d7d7d;
    font-size: 15px;
}
.widget_body_contact_desc div{
    margin-top: 12px;
    border-bottom: 1px solid #bdb7b7cc;
}

.widget_body_contact_desc span{
    font-weight: bold;
}

.icon_phone{
    border-top: 1px solid #7d7d7d;
    border-bottom: 1px solid #7d7d7d;
}
.icon_phone img{
    width: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.icon_email{
    border-top: 1px solid #7d7d7d;
    border-bottom: 1px solid #7d7d7d;
}

.icon_email img{
    width: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.icon_form{
    border-top: 1px solid #7d7d7d;
    border-bottom: 1px solid #7d7d7d;
}

.icon_form img{
    width: 20px;
    margin-right: 5px;
    vertical-align: middle;
}