@media (aspect-ratio: 1/1)  {
    body{
        background-color: yellow;
    }
}

@media (min-aspect-ratio: 2/1)  {
    body{
        background-color: red;
    }
}

@media (max-aspect-ratio: 1/2)  {
    body{
        background-color: black;
    }
}

