*{box-sizing: border-box;}
body{margin: 0px;}

footer{
    height: 100px;
    background-color: #CCC;
}

nav{
    height: 50px;
    background-color: #999;
}

zago{
    background-color: black;
    font-size: x-large;
    color: aquamarine;
}

form{
    width: 230px;
    height: 210px;
    background-color: #ddd;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
}

input{
    padding: 5px;
    font-size: 13px;
}

#container{
    display: flex;
    width: 100%;
    margin: 0 auto; 
    }

#page-wrap{
    margin: 0 auto; 
    width: 200px;
    height: 400px;
    background: #000000;
        }

#sidebar{
    margin: 0 auto; 
    width: 200px;
    height: 400px;
    background: #ff0000;    
    }

#other{
margin: 0 auto; 
width: 200px;
height: 400px;
background: #ff00ff;
}

.border{
    background-color: green;
    margin-left: 100px;
    margin-right: 100px;
    height: 200px;
    width: 500px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.exemplo{
    width: 500px;
    height: 200px;
    background-color: red;
    background:linear-gradient(-75deg,white, blue, red);
    background:-moz-linear-gradient(-75deg,white, blue, red);
    background:-o-linear-gradient(-75deg,white, blue, red);
    background:-webkit-linear-gradient(-75deg,white, blue, red);
}

.animation{
    width: 150px;
    height: 150px;
    background-color: green;
    position:absolute;
    animation-name:animation;
    animation-duration:5s;
    animation-delay:2s;
    animation-iteration-count:infinite;
}

@keyframes animation {
    0% {background-color: red;top:0;left:0;}
    20%{background-color: yellow;top:0;left:200;}
    40%{background-color: aqua;top:200;left:200;}
    60%{background-color: #ff00ff;top:0;left:0;}
    80%{background-color: #ccc;}
    100%{background-color: #ddd;}
}

.smoke{
    width: 200px;
    height: 200px;
    background-color: red;
    margin:auto;
    margin-top:auto;
    box-shadow:10px 10px 5px black;
    border-radius: 100px;
}

.smoketext{
    color: #ff0000;
    text-shadow: 2px 2px 3px black;
    position: absolute;
}

.transition{
    width: 200px;
    height: 200px;
    background-color: black;
    margin:auto;
    transition:all 1s linear;
}

.transition:hover{
    width: 400px;
    background-color: #999;
}

.link{
    color: black;
}

.link:hover{
    color: #ff0000;
    transition:all 2s linear;
}

.wordwrap{
    width: 150px;
    height: 200px;
    border:1px solid black;
    word-wrap:break-word;
}